<nav class="navbar navbar-expand-sm">
  <h1 class="main-text"><b>STOnline</b></h1>
  <div class="right">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
       <a class="nav-link" href="#"><b>Home page</b></a>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Registration</b></a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><b>About</b></a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="#"><b>Help</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="user/login" *ngIf="auth.login() "><b>Login</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user/logout" *ngIf="!auth.isAuthenticated() && auth.login()"><b>Logout</b></a>
      </li>
      <li class="nav-item">
        <button class="nav-link mobile-button"><b>Logout</b></button>
      </li>
   </ul>
  </div>
</nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
