<nav class="navbar navbar-expand-sm">
  <h1 class="main-text"><b>STOnline </b></h1>
  <div class="right">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
       <a class="nav-link" href="#"><b>{{'Home-page.Home' | translate}}</b></a>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>{{'Home-page.Registration' | translate}}</b></a>
      </li>
      <li *ngIf="!isLogin; then loginBlock else logoutBlock" class="nav-item">
      </li>
      <li> |</li>
      <li *ngIf="true; then swicher">
      </li>
   </ul>
  </div>
</nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

<ng-template #loginBlock>
  <a class="nav-link" routerLink="user/login"><b>{{'Home-page.Login' | translate}}</b></a>
</ng-template>
<ng-template #logoutBlock>
    <button class="nav-link mobile-button"(click)="(onLogout())"><b>{{'Home-page.Logout' | translate}}</b></button>
</ng-template>

<ng-template #swicher>
    <nav>
          <span>
            <select #selection (change)="switchLang(selection.value)">
              <option
                *ngFor="let leng of translateService.getLangs()"
                [value]="leng"
                [selected]="leng === translateService.currentLang"
              >
                {{leng}}
              </option>
            </select>
          </span>
    </nav>
</ng-template>
