
<div class="list">

  <div class="container">
    <form #form="ngForm" autocomplete="off" (submit)="post(form)">
      <div class="col-sm-5"><input name="subjectName" type="text" class="form-control" placeholder="{{'Category.CategoryName' | translate}}" /></div>
      <div class="col-sm"><input class="btn btn-primary" type="submit" name="submit" value="Add"></div>
    </form>
  </div>

  <br>

  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">{{'Category.CategoryName' | translate}}</th>
    </tr>
    </thead>
    <tr *ngFor="let c of list ">
      <td>{{c.id}}</td>
      <td>{{c.categoryName}}</td>
      <td>
        <a class="btn btn-danger">{{'Edit' | translate}}</a>
      </td>
      <td>
        <form method ="post">
          <input type="hidden" name="id"/>
          <input type="submit" (click)="delete(c.id)" value="{{'Delete' | translate}}" class="btn btn-danger" />
        </form>
      </td>
    </tr>
  </table>
  <ngb-pagination class="d-flex justify-content-center"
                  [collectionSize]="collectionSize"
                  [pageSize]="size"
                  [(page)]="page"
                  (pageChange)="onPageChanged($event, size)"
                  [boundaryLinks]="true">
   </ngb-pagination>

  <div class="center">
    <h3>{{'PageSize' | translate}}: -></h3><input style="text-align: center" class="d-flex justify-content-center" [(ngModel)]="size" (change)="onPageChanged(page, size)">
  </div>

</div>
