<div class="list">
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Category Name</th>
    </tr>
    </thead>
    <tr *ngFor="let c of list ">
      <td>{{c.id}}</td>
      <td>{{c.categoryName}}</td>
      <td>
        <a class="btn btn-danger">Edit</a>
      </td>
      <td>
        <form method ="post">
          <input type="hidden" name="id"/>
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
      </td>
    </tr>
  </table>
  <ngb-pagination class="d-flex justify-content-center"
                  [collectionSize]="collectionSize"
                  [pageSize]="size"
                  [(page)]="page"
                  (pageChange)="onPageChanged($event, size)"
                  [boundaryLinks]="true">
   </ngb-pagination>

  <div class="center">
    <h3>Розмір сторінки: -></h3><input style="text-align: center" class="d-flex justify-content-center" [(ngModel)]="size" (change)="onPageChanged(page, size)">
  </div>

</div>
