.center-window{
  width: 40%;
  background: #584B4B;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

a:link {
  color: #497DDD;
  text-decoration: none;
}

a:visited {
  color: #EF7D55;
  text-decoration: none;
}

a:hover {
  color: #154088;
  border-bottom: .07em solid;
}

.image-flex{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
